.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 32px auto 0;
}

.u-section-1 .u-image-1 {
  width: 368px;
  height: 230px;
  margin: 47px auto 0 83px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -174px 89px 60px auto;
  padding: 28px 97px 30px 96px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 213px;
    margin-left: 0;
  }
}