      
    header {
      background-color: #564428;
      border:0px;
      padding: 0px;
      margin: 0px;
      height: 70px;
      font-size: 54px;
      color: white;
    }
      
      h1 {
        margin-top: 150px;
        text-align: center;
        font-size: 90px;
      }

      .paragraph{
	font-size: 40px;
      }
  
      .name{
        margin-left:80px;
      }
      
      .liner{
        width: 700px;
        height: 15px;
        background: #B4A99C;
        margin: auto;
        size: 100px;
      }
      
	.link{
      float: right;
      color: white;
      font-size:30px;
      display: inline-block;
      }
      
      .mePicture{
        margin-top: 80px;
        margin-left: 70px;
        width: 600px;
        hight: 600px;
      }
      
     .linkButton{
      	height: 70px;
      	width: 130px;
      	top: 10px;
        font-size: 20px;
      	background-color:#564428;
      	border:0px;
        color: #fffde8
      }
      .linkButton:hover{
      	background-color: #332722;
      }
